// --------------------------------------------------------------------------------------
// COLORS
// --------------------------------------------------------------------------------------

$background-color: pink;
$primary-color: rgb(85, 86, 136);
$secondary-color: rgb(158, 158, 0); 
$font-color: rgb(255, 255, 255);
$font: sans-serif;
$modal-color: rgba(0,0,0,0.4);
$modal-background: #FFF;
$error: red;
$spacing: 5vw;
$spacing-sm: $spacing / 2;
$radius: .5vw;
$loud: #00ffff;
$quiet: #ff0fff;
$medium: #ffff00;
$p-font: 5vw;
$header-font: 3vw;
$nav-font: 1.5vw;
$nav-weight: bold;
$button-font: 1.5vw;
$button-padding: 1vw 3vw;
$input-padding: 1vw 2vw;

@media screen and (min-width: 1200px) {
// $background-color: purple;
// $primary-color: rgb(85, 86, 136);
// $secondary-color: rgb(158, 158, 0); 
// $font-color: rgb(255, 255, 255);
// $font: sans-serif;
// $modal-color: rgba(0,0,0,0.4);
// $modal-background: #FFF;
// $error: red;
// $spacing: 5vw;
// $spacing-sm: $spacing / 2;
// $radius: .5vw;
// $loud: #00ffff;
// $quiet: #ff0fff;
// $medium: #ffff00;
// $p-font: 2vw;
// $header-font: 3vw;
// $nav-font: 2vw;
// $button-font: 1.5vw;
// $button-padding: 1vw 3vw;
// $input-padding: 1vw 2vw;
}
// --------------------------------------------------------------------------------------
// SIZE
// --------------------------------------------------------------------------------------


