// --------------------------------------------------------------------------------------
// COLORS
// --------------------------------------------------------------------------------------

$background-color: purple;
$primary-color: rgb(85, 86, 136);
$secondary-color: rgb(158, 158, 0); 
$font-color: rgba(0,0,0,0.8);
$font: arial sans-serif;
$modal-color: rgba(0,0,0,0.4);
$modal-background: #FFF;
$error: red;
$spacing: 5vw;
$spacing-sm: $spacing / 2;
$radius: .5vw;
$loud: #00ffff;
$quiet: #ff0fff;
$medium: #ffff00;
$p-font: 2vw;
$header-font: 4vw;
$nav-font: 3vw;
$button-font: 1.5vw;
$button-padding: 1vw 3vw;
$input-padding: 1vw 2vw;

// --------------------------------------------------------------------------------------
// SIZE
// --------------------------------------------------------------------------------------


