// --------------------------------------------------------------------------------------
// COLORS
// --------------------------------------------------------------------------------------

$background-color: pink;
$primary-color: rgb(85, 86, 136);
$secondary-color: rgb(158, 158, 0); 
$font-color: rgb(184, 184, 184);
$font: sans-serif;
$font-weight: thin;
$modal-color: rgba(0,0,0,0.4);
$modal-background: #FFF;
$error: red;
$spacing: 5vw;
$spacing-sm: $spacing / 2;
$radius: 30px;
$p-font: 5vw;
$header-font: 3vw;
$nav-font: 1.5vw;
$nav-weight: thin;
$button-font: 1.5vw;
$button-padding: 1vw 3vw;
$input-padding: 1vw 2vw;
