.app {

  header {
    width: 100%;
    height: 10vw;
    background-color: red;
    font-size: $nav-font;
    img {
        width: 70%;
      }
    h1 {
      background-color: yellow;
      width: 20%;
      float: left;
    }
    ul {
      margin-top: $spacing-sm;
      width: 50%;
      background-color: lime;
      float: right;
    }
    li {
      margin-left: $spacing;
    }
    a {
      font-size: $nav-font;
      float: right;
      background-color: teal;
    }
    // li {
    //     float: right;
    //     background-color: teal;
    // }
    button {
      font-size: $button-font;
      padding: $button-padding;
      width: 10vw;
    }
  }
  }

  .app-hero {

    background-image: url('https://sarasaurus.s3.amazonaws.com/52fd3620bcfe97b86988f509c13df018.background.jpeg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.dashboard{
  width: 90%;
  height: 500px;
  padding: $spacing-sm $spacing-sm;
  margin: $spacing auto;
  background-color: aqua;
  // text-align: center;
  // position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 5%);
  color: orange;
}