.dashboard {
  display: block;
  text-align: center;
  color: orange;
}

.emotion {
  color: white;
  background-color: rgb(78, 78, 78);
  border-radius: $radius;
  border-radius: $radius;
  padding: $button-padding;
}
.song-item {
  color: black;
  // float: right;
  background-color: rgba(182, 182, 182, 0.63);
  border-radius: $radius;
  padding: $button-padding;
  margin: $spacing-sm /3;
}

.album-image {
  height: 80px;
  width: 80px;
  float: left;
}
