.dashboard {
  display: block;
  // margin: 0 auto;
  margin-top: 10vw;
  // // background-color: aqua;
  text-align: center;
  position: absolute;
  color: orange;
}
.emotion {
  background-color: rgba(0, 0, 0, 0.678);
  margin-top: 40%;
  width: 50%;
  float: right;
}
.song-item {
  background-color: rgba(0, 0, 0, 0.63);
}