@import 'normalize';
@import 'base';

.app {
  div {
    // background-color: purple;
  }
  header {
    width: 100%;
  h1 {
    background-color: yellow;
    width: 20%;
    float: left;
  }
  ul {
    width: 50%;
    background-color: lime;
    float: right;
  }
  li {
    margin-left: $spacing;
  }
  a {
    font-size: $nav-font;
    float: right;
    background-color: teal;
  }
  // li {
  //     float: right;
  //     background-color: teal;
  // }
  button {
    margin-left: 50%;
    margin-top: 2vw;
    float: right;
    z-index: 100;
  }
  }
  }
.dashboard{
  width: 90%;
  //margin: 0 auto;
  padding: $spacing-sm $spacing-sm;
  background-color: lime;
  margin: $spacing auto;

  p {
    margin: 0 auto;
    display: block;
    width: 94%;
    background: aqua;
  }
 form {
   background-color: pink;
   width: 100%;
   margin: 0 auto;
 }
  input {
    margin: $spacing-sm /2;
  }
}