.picture-container  {
  //background-color:yellowgreen;
  position:relative;

form {
  position: absolute;
  height: 500px;
  display: flex;
  //background-color: orangered;

label {
  padding: $spacing;
  display: block;
  float: right;
  margin: auto;
  height: 4vw;
  // background-color: darkcyan;
}
}

// .image-input-container div {
//   margin: auto;
//   flex: auto;
// }
img {
  float: left;
  min-height: 700px;
   min-width: 900px;
}
input {
  display: none;
}
button {
  display: none;
}
.image_submit {
}

.image-input {
}
}