.picture-container  {
  //background-color:yellowgreen;
 // position: relative;

form {
  position: relative;
  // width: 90%;
  // margin: 0 auto;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: orangered;
}
form {
  label {
    
    background-color: rgba(88, 105, 118, .8);
    z-index: 300;
    padding: $button-padding;
    display: block;
    height: 50px;
    // border: 1px solid;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(00, 00, 00, .5);
    width: 25%;
    text-align: center;
    font-size: $button-font;
    position: absolute;
  }

  img {
    //display: block;
    max-width: 500px;
    position: absolute;
  }
  input {
    display: none;
  }
  button {
    display: none;
  }
  // .image_submit {
  //   flex: auto;
  // }
  .image-input {
  }
}
}